NodeRed/Func_Switch_Totorial.json
[{"id":"100058e.a3c7da7","type":"tab","label":"Func Switch Totorial","disabled":false,"info":""},{"id":"8a021daa.f50aa","type":"inject","z":"100058e.a3c7da7","name":"[999,888]","props":[{"p":"payload"},{"p":"site","v":"SolarOne","vt":"str"},{"p":"db","v":"mysql","vt":"str"},{"p":"tag","v":"change","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[999,888]","payloadType":"jsonata","x":120,"y":120,"wires":[["d5975abd.547718","eae098d.dc8b768"]]},{"id":"d5975abd.547718","type":"debug","z":"100058e.a3c7da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":140,"wires":[]},{"id":"3de238c5.b0be18","type":"function","z":"100058e.a3c7da7","name":"msg.payload[0]/10;","func":"msg.payload = msg.payload[0]/10;\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":200,"wires":[["d5975abd.547718"]]},{"id":"4e5a554d.102bac","type":"inject","z":"100058e.a3c7da7","name":"","props":[{"p":"payload"},{"p":"site","v":"SolarOne","vt":"str"},{"p":"db","v":"mysql","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"999","payloadType":"num","x":130,"y":80,"wires":[["d5975abd.547718"]]},{"id":"73681c02.2d2864","type":"function","z":"100058e.a3c7da7","name":"FC3  id 1","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 1 \n     \n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["d5975abd.547718"]]},{"id":"bbb3ed0d.47c19","type":"inject","z":"100058e.a3c7da7","name":"","props":[{"p":"payload"},{"p":"site","v":"SolarOne","vt":"str"},{"p":"db","v":"mysql","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[999,888]","payloadType":"jsonata","x":130,"y":320,"wires":[["73681c02.2d2864"]]},{"id":"eae098d.dc8b768","type":"change","z":"100058e.a3c7da7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["d5975abd.547718"]]},{"id":"bb355a1c.9692c8","type":"inject","z":"100058e.a3c7da7","name":"","props":[{"p":"payload"},{"p":"site","v":"SolarOne","vt":"str"},{"p":"db","v":"mysql","vt":"str"},{"p":"tag","v":"function","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[999,888]","payloadType":"jsonata","x":130,"y":260,"wires":[["d5975abd.547718","3de238c5.b0be18"]]},{"id":"ba15861f.630948","type":"switch","z":"100058e.a3c7da7","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"py01","vt":"str"},{"t":"eq","v":"py02","vt":"str"},{"t":"eq","v":"py03","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":640,"wires":[[],[],["27b9f2fa.bb35ae"]]},{"id":"34ee686c.687b38","type":"function","z":"100058e.a3c7da7","name":"msg.payload[0]/10;","func":"msg.passFunc = true;\n\nif (msg.topic == 'pr01') { return  [msg,null,null];}\n\nif (msg.topic == 'pr02') { return  [null,msg,null];}\n\nif (msg.topic == 'pr03') { return  [null,null,msg];}\n\n\n\n\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":560,"wires":[["27b9f2fa.bb35ae"],[],[]]},{"id":"daf25ea8.38fcf","type":"inject","z":"100058e.a3c7da7","name":"","props":[{"p":"payload"},{"p":"site","v":"SolarOne","vt":"str"},{"p":"db","v":"mysql","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pr01","payload":"999","payloadType":"num","x":140,"y":460,"wires":[["34ee686c.687b38","27b9f2fa.bb35ae"]]},{"id":"266ab791.c78218","type":"inject","z":"100058e.a3c7da7","name":"","props":[{"p":"payload"},{"p":"site","v":"SolarOne","vt":"str"},{"p":"db","v":"mysql","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pr03","payload":"999","payloadType":"num","x":140,"y":580,"wires":[["34ee686c.687b38","2ee7aee9.c9f4f2"]]},{"id":"7d221f03.f7eed","type":"inject","z":"100058e.a3c7da7","name":"","props":[{"p":"payload"},{"p":"site","v":"SolarOne","vt":"str"},{"p":"db","v":"mysql","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pr02","payload":"999","payloadType":"num","x":140,"y":520,"wires":[["34ee686c.687b38","27b9f2fa.bb35ae"]]},{"id":"27b9f2fa.bb35ae","type":"debug","z":"100058e.a3c7da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":460,"wires":[]},{"id":"2ee7aee9.c9f4f2","type":"change","z":"100058e.a3c7da7","name":"","rules":[{"t":"set","p":"passFunc","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":640,"wires":[["ba15861f.630948"]]},{"id":"401f7f45.1a7c9","type":"inject","z":"100058e.a3c7da7","name":"Set flow variable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":620,"y":40,"wires":[["c50a4fce.b350b","9d191430.7bb2e8"]]},{"id":"c50a4fce.b350b","type":"change","z":"100058e.a3c7da7","name":"","rules":[{"t":"set","p":"site","pt":"flow","to":"SolarOne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":40,"wires":[[]]},{"id":"9d191430.7bb2e8","type":"function","z":"100058e.a3c7da7","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":80,"wires":[[]]}]
