NodeRed/Mysql_tutorial.json
[{"id":"8f26e58d.1a0188","type":"tab","label":"Mysql tutorial","disabled":false,"info":""},{"id":"fad3e9d9.6d5128","type":"mysql","z":"8f26e58d.1a0188","d":true,"mydb":"bec95153.1015f","name":"","x":940,"y":40,"wires":[[]]},{"id":"3ea5ef19.c3175","type":"function","z":"8f26e58d.1a0188","name":"INSERT INTO solardata","func":"msg.topic=\"INSERT INTO solardata (site,device,measure,metric,value,tag) VALUES (?,?,?,?,?,?);\"\n\nmsg.payload=['SolarOne','pr01','solar','pr01-w/m2',555,'test'];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":160,"wires":[["fad3e9d9.6d5128","df30029f.19762"]]},{"id":"17a43791.0f9f58","type":"inject","z":"8f26e58d.1a0188","name":"Insert Test","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":160,"wires":[["3ea5ef19.c3175"]]},{"id":"6510f698.bd6428","type":"change","z":"8f26e58d.1a0188","name":"INSERT INTO solardata","rules":[{"t":"set","p":"topic","pt":"msg","to":"INSERT INTO solardata (site,device,measure,metric,value,tag) VALUES (?,?,?,?,?,?);","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"['SolarOne','pr01','solar','pr01-w/m2',555,'test']","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":40,"wires":[["fad3e9d9.6d5128","df30029f.19762"]]},{"id":"f55cef0f.dad19","type":"inject","z":"8f26e58d.1a0188","name":"Insert Test","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":340,"y":40,"wires":[["6510f698.bd6428"]]},{"id":"df30029f.19762","type":"debug","z":"8f26e58d.1a0188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":160,"wires":[]},{"id":"739b18b4.7c2528","type":"inject","z":"8f26e58d.1a0188","name":"Data Insert [ ]","props":[{"p":"site","v":"SolarOne","vt":"str"},{"p":"device","v":"pr01","vt":"str"},{"p":"metric","v":"w/m2","vt":"str"},{"p":"measure","v":"solar","vt":"str"},{"p":"value","v":"444","vt":"num"},{"p":"tag","v":"test","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":330,"y":100,"wires":[["7cd0557.c4c55ac"]]},{"id":"7cd0557.c4c55ac","type":"change","z":"8f26e58d.1a0188","name":"INSERT INTO solardata [ ]","rules":[{"t":"set","p":"topic","pt":"msg","to":"INSERT INTO solardata (site,device,measure,metric,value,tag) VALUES (?,?,?,?,?,?);","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"[site,device,measure,metric,value,tag]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[["df30029f.19762","fad3e9d9.6d5128"]]},{"id":"2176228a.332a4e","type":"ui_template","z":"8f26e58d.1a0188","group":"57b72124.dcc53","name":"","order":3,"width":6,"height":7,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1200,"y":380,"wires":[[]]},{"id":"1fe5d680.f79f49","type":"mysql","z":"8f26e58d.1a0188","d":true,"mydb":"bec95153.1015f","name":"","x":880,"y":380,"wires":[["db632a0f.51a688","11ed67d.b48b998"]]},{"id":"333a2b91.fb8dc4","type":"inject","z":"8f26e58d.1a0188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":450,"y":380,"wires":[["3fcc295e.081fa6"]]},{"id":"3fcc295e.081fa6","type":"function","z":"8f26e58d.1a0188","name":"Select solardata Lasted","func":"msg.topic = 'SELECT DATE_FORMAT(time, \"%m/%d/%Y %H:%i:%S\") as time,device,value ' \n            + 'FROM solardata '\n            + \"ORDER BY solardata.time DESC \"\n            + \"LIMIT \" + msg.payload;\n\n \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":380,"wires":[["1fe5d680.f79f49","546f44ed.09c77c"]]},{"id":"db632a0f.51a688","type":"debug","z":"8f26e58d.1a0188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":460,"wires":[]},{"id":"11ed67d.b48b998","type":"template","z":"8f26e58d.1a0188","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table style=\"width:100%\"  border=\"1\">\n  <tr>\n    \n    <th>time</th>\n    <th>dvice</th> \n    <th>value</th>\n  </tr>\n  {{#payload}}\n  <tr>\n    <td>{{time}}</td>\n    <td>{{device}}</td> \n    <td>{{value}}</td>\n  </tr>\n  {{/payload}}\n</table>","output":"str","x":1040,"y":380,"wires":[["2176228a.332a4e"]]},{"id":"e9154a57.006b38","type":"ui_text_input","z":"8f26e58d.1a0188","name":"","label":"flow.rows","tooltip":"","group":"57b72124.dcc53","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":440,"y":300,"wires":[["d3ac10b3.b2289"]]},{"id":"a78a4840.b0b668","type":"ui_button","z":"8f26e58d.1a0188","name":"","group":"57b72124.dcc53","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":270,"y":440,"wires":[["51cd935f.b8492c"]]},{"id":"d3ac10b3.b2289","type":"change","z":"8f26e58d.1a0188","name":"","rules":[{"t":"set","p":"rows","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[[]]},{"id":"51cd935f.b8492c","type":"change","z":"8f26e58d.1a0188","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"rows","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["3fcc295e.081fa6"]]},{"id":"9febdc2f.08441","type":"inject","z":"8f26e58d.1a0188","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":310,"y":300,"wires":[["e9154a57.006b38"]]},{"id":"546f44ed.09c77c","type":"change","z":"8f26e58d.1a0188","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"time\":\"09/30/2021 12:47:39\",\"device\":\"py03\",\"value\":2},{\"time\":\"09/30/2021 12:47:39\",\"device\":\"py02\",\"value\":1},{\"time\":\"09/30/2021 12:47:38\",\"device\":\"py01\",\"value\":0},{\"time\":\"09/30/2021 12:47:29\",\"device\":\"py03\",\"value\":2},{\"time\":\"09/30/2021 12:47:29\",\"device\":\"py02\",\"value\":2},{\"time\":\"09/30/2021 12:47:28\",\"device\":\"py01\",\"value\":0},{\"time\":\"09/30/2021 12:47:19\",\"device\":\"py03\",\"value\":2},{\"time\":\"09/30/2021 12:47:18\",\"device\":\"py02\",\"value\":2},{\"time\":\"09/30/2021 12:47:18\",\"device\":\"py01\",\"value\":0},{\"time\":\"09/30/2021 12:47:09\",\"device\":\"py03\",\"value\":2}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[["11ed67d.b48b998","db632a0f.51a688"]]},{"id":"bec95153.1015f","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"solardb","tz":"","charset":"UTF8"},{"id":"57b72124.dcc53","type":"ui_group","name":"Group 1","tab":"43e755bb.17149c","order":1,"disp":true,"width":6},{"id":"43e755bb.17149c","type":"ui_tab","name":"MysqlTutorial","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
