NodeRed/Pyranometer.json
[{"id":"dbd1aac.fc20558","type":"tab","label":"Pyranometer","disabled":false,"info":""},{"id":"fa62da88.8d0df8","type":"modbus-response","z":"dbd1aac.fc20558","name":"","registerShowMax":20,"x":950,"y":120,"wires":[]},{"id":"49a02db5.dc97e4","type":"function","z":"dbd1aac.fc20558","name":"FC3  id 1 address 0","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1,\n    'address': 0 , \n    'quantity': 1 \n     \n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":180,"wires":[["a5323805.5b4398","8967e926.50e278"]]},{"id":"a5323805.5b4398","type":"modbus-flex-getter","z":"dbd1aac.fc20558","d":true,"name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"bf07dbb7.6d6928","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":710,"y":180,"wires":[["fa62da88.8d0df8","f28dda8b.de7268"],[]]},{"id":"f28dda8b.de7268","type":"change","z":"dbd1aac.fc20558","name":"py01 , py03 payload[0]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":180,"wires":[["72ac169a.c0a9a8"]]},{"id":"8fbb6ff0.13875","type":"ui_gauge","z":"dbd1aac.fc20558","name":"","group":"ecca57be.41dce8","order":1,"width":4,"height":3,"gtype":"gage","title":"Py01 gauge","label":"units","format":"{{payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":320,"wires":[]},{"id":"47760f2.90cd3f","type":"function","z":"dbd1aac.fc20558","name":"FC3  ","func":"msg.payload = { \n    'fc': 3, \n    'unitid': msg.slaveid,\n    'address': msg.address, \n    'quantity': msg.qty \n     \n};  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":360,"wires":[["a5323805.5b4398"]]},{"id":"1408b75b.57cf39","type":"ui_gauge","z":"dbd1aac.fc20558","name":"","group":"ecca57be.41dce8","order":3,"width":4,"height":3,"gtype":"gage","title":"Py02 gauge","label":"units","format":"{{payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":420,"wires":[]},{"id":"d33a4ff9.ae12a","type":"ui_gauge","z":"dbd1aac.fc20558","name":"","group":"ecca57be.41dce8","order":4,"width":4,"height":3,"gtype":"gage","title":"Py03 gauge","label":"units","format":"{{payload}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":460,"wires":[]},{"id":"41b17abf.c943a4","type":"ui_chart","z":"dbd1aac.fc20558","name":"","group":"ecca57be.41dce8","order":2,"width":19,"height":11,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1500","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":190,"y":320,"wires":[[]]},{"id":"bad988f1.817c98","type":"change","z":"dbd1aac.fc20558","name":"device py01","rules":[{"t":"set","p":"device","pt":"msg","to":"py01","tot":"str"},{"t":"set","p":"slaveid","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":180,"wires":[["49a02db5.dc97e4"]]},{"id":"2999c7ff.ba6a78","type":"change","z":"dbd1aac.fc20558","name":"device py02 - address 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"py02","tot":"str"},{"t":"set","p":"slaveid","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"address","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"qty","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["47760f2.90cd3f"]]},{"id":"fe89fffb.22266","type":"switch","z":"dbd1aac.fc20558","name":"switch by topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"py01","vt":"str"},{"t":"eq","v":"py02","vt":"str"},{"t":"eq","v":"py03","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":200,"y":380,"wires":[["8fbb6ff0.13875","2999c7ff.ba6a78"],["1408b75b.57cf39","ad9254b2.f5dc38"],["d33a4ff9.ae12a"]]},{"id":"ad9254b2.f5dc38","type":"function","z":"dbd1aac.fc20558","name":"device py03 - address 0","func":"msg.topic = 'py03';\nmsg.slaveid = 3;\nmsg.address = 0;\nmsg.qty =2\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":400,"wires":[["47760f2.90cd3f"]]},{"id":"5d6727a0.7af3c8","type":"inject","z":"dbd1aac.fc20558","name":"","props":[{"p":"payload"},{"p":"db","v":"mysql","vt":"str"},{"p":"site","v":"SolarOne","vt":"str"},{"p":"measure","v":"solar","vt":"str"},{"p":"metric","v":"w/m2","vt":"str"},{"p":"tag","v":"test","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"py01","payload":"[999,888]","payloadType":"jsonata","x":110,"y":180,"wires":[["bad988f1.817c98"]]},{"id":"ae8a8c76.df61a","type":"mysql","z":"dbd1aac.fc20558","d":true,"mydb":"bec95153.1015f","name":"","x":760,"y":560,"wires":[[]]},{"id":"d74e8835.4229c8","type":"change","z":"dbd1aac.fc20558","name":"INSERT INTO solardata [ ]","rules":[{"t":"set","p":"topic","pt":"msg","to":"INSERT INTO solardata (site,device,measure,metric,value,tag) VALUES (?,?,?,?,?,?);","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"[site,device,measure,metric,value,tag]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":560,"wires":[["ae8a8c76.df61a"]]},{"id":"72ac169a.c0a9a8","type":"link out","z":"dbd1aac.fc20558","name":"","links":["84eb8e4c.21aa"],"x":1115,"y":180,"wires":[]},{"id":"84eb8e4c.21aa","type":"link in","z":"dbd1aac.fc20558","name":"","links":["72ac169a.c0a9a8"],"x":55,"y":380,"wires":[["41b17abf.c943a4","fe89fffb.22266","9547cdd8.58645"]]},{"id":"9547cdd8.58645","type":"change","z":"dbd1aac.fc20558","name":"Set Header ","rules":[{"t":"set","p":"site","pt":"msg","to":"SolarOne","tot":"str"},{"t":"set","p":"device","pt":"msg","to":"topic","tot":"msg"},{"t":"set","p":"measure","pt":"msg","to":"solar","tot":"str"},{"t":"set","p":"tag","pt":"msg","to":"compare","tot":"str"},{"t":"set","p":"metric","pt":"msg","to":"w/m2","tot":"str"},{"t":"set","p":"value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":560,"wires":[["d74e8835.4229c8"]]},{"id":"91262538.d556f8","type":"inject","z":"dbd1aac.fc20558","name":"clear chart","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"jsonata","x":200,"y":260,"wires":[["41b17abf.c943a4"]]},{"id":"8967e926.50e278","type":"change","z":"dbd1aac.fc20558","name":"Set Modbus Result","rules":[{"t":"set","p":"payload","pt":"msg","to":"[999]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":120,"wires":[["f28dda8b.de7268"]]},{"id":"bf07dbb7.6d6928","type":"modbus-client","name":"HF2211-- 192.168.1.51","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.51","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"ecca57be.41dce8","type":"ui_group","name":"Group 1","tab":"77b358f1.c987f8","order":1,"disp":true,"width":23},{"id":"bec95153.1015f","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"solardb","tz":"","charset":"UTF8"},{"id":"77b358f1.c987f8","type":"ui_tab","name":"Pyranometer","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
