NodeRed/Template_Tutorial.json
[{"id":"ccdf3aa0.c43f88","type":"tab","label":"template Tutorial","disabled":false,"info":""},{"id":"1b61c07f.7d06f8","type":"inject","z":"ccdf3aa0.c43f88","name":"Go","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"1","payloadType":"str","x":130,"y":140,"wires":[["a30ba039.4650a8"]]},{"id":"a30ba039.4650a8","type":"function","z":"ccdf3aa0.c43f88","name":"build array (2)","func":"var arr =[[\"Paul\",\"Doe\",24],[\"Greg\",\"Jones\",31],[\"Able\",\"Smith\",29]];\nmsg.payload = arr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":140,"wires":[["c9727c65.303f"]]},{"id":"7fa8d335.150f84","type":"debug","z":"ccdf3aa0.c43f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":140,"wires":[]},{"id":"c9727c65.303f","type":"ui_template","z":"ccdf3aa0.c43f88","group":"5528ecba.080c74","name":"Two dimension array table","order":2,"width":8,"height":11,"format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>First Name</th> \n <th>Last Name</th>\n <th>Age</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":710,"y":140,"wires":[["7fa8d335.150f84"]]},{"id":"76df5cad.d3ba54","type":"template","z":"ccdf3aa0.c43f88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"id : {{payload.id}} ","output":"str","x":420,"y":280,"wires":[["de6309a1.6f0788","368ee8e0.03f918"]]},{"id":"58d0676b.a63ab8","type":"inject","z":"ccdf3aa0.c43f88","name":"msg.id = 999","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":999}","payloadType":"json","x":170,"y":280,"wires":[["76df5cad.d3ba54"]]},{"id":"5615dcf0.dfca64","type":"http in","z":"ccdf3aa0.c43f88","name":"","url":"/getdata","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["76df5cad.d3ba54","bcd5a269.8990c"]]},{"id":"de6309a1.6f0788","type":"http response","z":"ccdf3aa0.c43f88","name":"","statusCode":"","headers":{},"x":650,"y":380,"wires":[]},{"id":"bcd5a269.8990c","type":"debug","z":"ccdf3aa0.c43f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":420,"wires":[]},{"id":"368ee8e0.03f918","type":"ui_template","z":"ccdf3aa0.c43f88","group":"5528ecba.080c74","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":300,"wires":[[]]},{"id":"5528ecba.080c74","type":"ui_group","name":"Group 1","tab":"62b8a170.ef61e","order":1,"disp":true,"width":8},{"id":"62b8a170.ef61e","type":"ui_tab","name":"Template Tutorial","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
