NodeRed/Wind01_UDP-BC95_MQTT-SIM_Dashboard.json
[
    {
        "id": "a36ee92ed93e050d",
        "type": "tab",
        "label": "Wind01 ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "735c15554cf2fcb8",
        "type": "udp in",
        "z": "a36ee92ed93e050d",
        "name": "",
        "iface": "",
        "port": "9999",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "99d26bd1e1379f86",
                "122c7e2b30386fb9",
                "cbfec98d3972d9e7",
                "afb65ba3231d8462"
            ]
        ]
    },
    {
        "id": "99d26bd1e1379f86",
        "type": "debug",
        "z": "a36ee92ed93e050d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "d0f630d9210e3bf1",
        "type": "mqtt out",
        "z": "a36ee92ed93e050d",
        "name": "",
        "topic": "167.71.218.13/UDP",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74d6b14ac3886b65",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "0bae1bec25c14b4e",
        "type": "json",
        "z": "a36ee92ed93e050d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "660012d8076c3043",
                "eb99d8a2e753477f",
                "16df645ace01b2b6",
                "56d031124a707f57",
                "cfc361caac3c2305",
                "ec3dedd7220a895e"
            ]
        ]
    },
    {
        "id": "a6673efb2549c265",
        "type": "ui_chart",
        "z": "a36ee92ed93e050d",
        "name": "Direction ",
        "group": "d19b27d2fcb43507",
        "order": 1,
        "width": 9,
        "height": 3,
        "label": "Direction chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "74537316bceb530f",
        "type": "ui_chart",
        "z": "a36ee92ed93e050d",
        "name": "Angle ",
        "group": "d19b27d2fcb43507",
        "order": 2,
        "width": 9,
        "height": 4,
        "label": "Angle chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "99bb9820d7c12a3c",
        "type": "ui_chart",
        "z": "a36ee92ed93e050d",
        "name": "Speed ",
        "group": "d19b27d2fcb43507",
        "order": 3,
        "width": 9,
        "height": 3,
        "label": "Speed chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "660012d8076c3043",
        "type": "change",
        "z": "a36ee92ed93e050d",
        "name": "direction",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.direction",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Direction",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 540,
        "wires": [
            [
                "a6673efb2549c265",
                "5c2d64154417c32a"
            ]
        ]
    },
    {
        "id": "eb99d8a2e753477f",
        "type": "change",
        "z": "a36ee92ed93e050d",
        "name": "angle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.angle",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Angle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "74537316bceb530f",
                "3917500aca4045e6"
            ]
        ]
    },
    {
        "id": "16df645ace01b2b6",
        "type": "change",
        "z": "a36ee92ed93e050d",
        "name": "speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speed",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 620,
        "wires": [
            [
                "99bb9820d7c12a3c",
                "6b25f93bba592d89"
            ]
        ]
    },
    {
        "id": "3917500aca4045e6",
        "type": "ui_gauge",
        "z": "a36ee92ed93e050d",
        "name": "Anagle",
        "group": "f5d142fb53255007",
        "order": 4,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "{{topic}}",
        "label": "rad",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1060,
        "y": 620,
        "wires": []
    },
    {
        "id": "6b25f93bba592d89",
        "type": "ui_gauge",
        "z": "a36ee92ed93e050d",
        "name": "Speed",
        "group": "f5d142fb53255007",
        "order": 5,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "{{topic}}",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 700,
        "wires": []
    },
    {
        "id": "5c2d64154417c32a",
        "type": "ui_gauge",
        "z": "a36ee92ed93e050d",
        "name": "Direction",
        "group": "f5d142fb53255007",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "{{topic}}",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "8",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1060,
        "y": 540,
        "wires": []
    },
    {
        "id": "122c7e2b30386fb9",
        "type": "ui_text",
        "z": "a36ee92ed93e050d",
        "group": "f5d142fb53255007",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "last Input",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "79da76a02f86d2c2",
        "type": "moment",
        "z": "a36ee92ed93e050d",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Bangkok",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm:ss",
        "locale": "th-TH",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Bangkok",
        "x": 700,
        "y": 160,
        "wires": [
            [
                "640f924b11c2598f",
                "5e0fb56001dfe926",
                "a0a417644f7b215f"
            ]
        ]
    },
    {
        "id": "640f924b11c2598f",
        "type": "ui_text",
        "z": "a36ee92ed93e050d",
        "group": "f5d142fb53255007",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Input",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "cbfec98d3972d9e7",
        "type": "change",
        "z": "a36ee92ed93e050d",
        "name": "last Input timestamp , flow.ip , flow port",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "ip",
                "pt": "flow",
                "to": "ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "flow",
                "to": "port",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "79da76a02f86d2c2",
                "1f3a87991e3be14d"
            ]
        ]
    },
    {
        "id": "afb65ba3231d8462",
        "type": "switch",
        "z": "a36ee92ed93e050d",
        "name": "from wind01",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "wind01",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "0bae1bec25c14b4e",
                "d0f630d9210e3bf1"
            ]
        ]
    },
    {
        "id": "56d031124a707f57",
        "type": "debug",
        "z": "a36ee92ed93e050d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "67d3b7688a809966",
        "type": "udp out",
        "z": "a36ee92ed93e050d",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "5e0fb56001dfe926",
        "type": "function",
        "z": "a36ee92ed93e050d",
        "name": "",
        "func": "var t = msg.payload;\nconst buf = new Buffer(t);\nlet message = {\"ip\": msg.ip, \"port\": msg.port, \"payload\": buf}\nreturn message;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 60,
        "wires": [
            [
                "67d3b7688a809966"
            ]
        ]
    },
    {
        "id": "25990f96b3f9aee1",
        "type": "inject",
        "z": "a36ee92ed93e050d",
        "name": "",
        "props": [
            {
                "p": "ip",
                "v": "110.49.201.204",
                "vt": "str"
            },
            {
                "p": "port",
                "v": "55392",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "5e0fb56001dfe926"
            ]
        ]
    },
    {
        "id": "392776e82fcac4e8",
        "type": "mqtt in",
        "z": "a36ee92ed93e050d",
        "name": "",
        "topic": "aisnbiot/20554",
        "qos": "2",
        "datatype": "auto",
        "broker": "74d6b14ac3886b65",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "afb65ba3231d8462",
                "1e36151028e55bb8",
                "122c7e2b30386fb9",
                "99d26bd1e1379f86"
            ]
        ]
    },
    {
        "id": "8501e14b1297cb63",
        "type": "moment",
        "z": "a36ee92ed93e050d",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Bangkok",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm:ss",
        "locale": "th-TH",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Bangkok",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "640f924b11c2598f"
            ]
        ]
    },
    {
        "id": "1e36151028e55bb8",
        "type": "change",
        "z": "a36ee92ed93e050d",
        "name": "last Input timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "8501e14b1297cb63"
            ]
        ]
    },
    {
        "id": "ec3dedd7220a895e",
        "type": "ui_worldmap",
        "z": "a36ee92ed93e050d",
        "group": "22fc58c82100252b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "15",
        "layer": "Esri Satellite",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "cfc361caac3c2305",
        "type": "ui_template",
        "z": "a36ee92ed93e050d",
        "group": "f5d142fb53255007",
        "name": "",
        "order": 2,
        "width": 9,
        "height": 3,
        "format": "<style>\ntable, td, th {\n  border: 1 px solid black;\n}\n\ntable {\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntd {\n  text-align: center;\n}\n</style>\n<table id=\"table\" border=\"1\">\n     <tr>\n        <th>Name</th> \n        <th>Direction</th>\n        <th>angle</th>\n        <th>Speed</th>\n </tr>\n <tbody>\n <tr>\n   <td>{{msg.payload.name}}</td>\n   <td>{{msg.payload.direction}}</td>\n   <td>{{msg.payload.angle}}</td>\n   <td>{{msg.payload.speed}}</td>\n </tr>\n </tbody>\n</table>\n<p> \n <table id=\"table\" border=\"1\">\n     <tr>\n        <th>runtime</th>\n        <th>lat</th>\n        <th>lon</th>\n       \n </tr>\n <tbody>\n <tr>\n   <td>{{msg.payload.runtime}}</td>\n   <td>{{msg.payload.lat}}</td>\n   <td>{{msg.payload.lon}}</td>\n  \n </tr>\n </tbody>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "63ed411b8a144b1f",
        "type": "comment",
        "z": "a36ee92ed93e050d",
        "name": "name,lot,lon",
        "info": "",
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "1f3a87991e3be14d",
        "type": "ui_text",
        "z": "a36ee92ed93e050d",
        "group": "f5d142fb53255007",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ip",
        "format": "{{msg.ip}} : {{msg.port}}",
        "layout": "col-center",
        "className": "",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "560c1ad721d5f513",
        "type": "ui_button",
        "z": "a36ee92ed93e050d",
        "name": "",
        "group": "f5d142fb53255007",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "Read",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "-read",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 20,
        "wires": [
            [
                "2af49cd0f4311e0d"
            ]
        ]
    },
    {
        "id": "2af49cd0f4311e0d",
        "type": "change",
        "z": "a36ee92ed93e050d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "ip",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "port",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 40,
        "wires": [
            [
                "5e0fb56001dfe926"
            ]
        ]
    },
    {
        "id": "a0a417644f7b215f",
        "type": "mqtt out",
        "z": "a36ee92ed93e050d",
        "name": "",
        "topic": "wind01/lastupdate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74d6b14ac3886b65",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "73d92743b89e6297",
        "type": "ui_button",
        "z": "a36ee92ed93e050d",
        "name": "",
        "group": "f5d142fb53255007",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Set Interval 10s",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "-interval10s",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "2af49cd0f4311e0d"
            ]
        ]
    },
    {
        "id": "ca4c5c4b0e12f777",
        "type": "ui_button",
        "z": "a36ee92ed93e050d",
        "name": "",
        "group": "f5d142fb53255007",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Set Interval  5 min",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "-interval5m",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "2af49cd0f4311e0d"
            ]
        ]
    },
    {
        "id": "74d6b14ac3886b65",
        "type": "mqtt-broker",
        "name": "utcc 159.138.241.21",
        "broker": "159.138.241.21",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d19b27d2fcb43507",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "9eceb797ac7dc281",
        "order": 2,
        "disp": true,
        "width": 9
    },
    {
        "id": "f5d142fb53255007",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "9eceb797ac7dc281",
        "order": 1,
        "disp": true,
        "width": 9
    },
    {
        "id": "22fc58c82100252b",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "9eceb797ac7dc281",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "9eceb797ac7dc281",
        "type": "ui_tab",
        "name": "Wind",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
